*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Mooli', sans-serif;
}
body{
    background-color: #320d3e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    height:500px;
    width: 400px;
    background-color: #e0a96d;
    border-radius: 13px;
}
.card img{
    position: relative;

    height: 250px;
    width: 250px;
    left:80px;
    top:30px;
    border-radius:13px;
    object-fit: cover;
}
.card h3{
    position: relative;
    color: white;
    left: 148px;
    top:44px;
}
.card p{
    position: relative;
    color: white;
    left: 116px;
    top:44px;  
}
.card #pa{
    font-size: 13px;
    position: relative;
    color: white;
    left: 43px;
    top: 57px;
}
.card h4{
    position: relative;
    color: red;
    left: 160px;
    top: 77px;
}

.card button{
    position: relative;
    background-color: green;
    color: white;
    left: 145px;
    top:105px;
    padding: 10px;
    border-radius:10px;
    border: none;
    cursor: pointer;
    font-family: 'Mooli', sans-serif;

}